<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\AzureFileNotFound.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
            <handlerSettings>
                <handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
                <handlerSetting name="debugLevel" value="FILE,TRACE" />
            </handlerSettings>
        </aspNetCore>
    </system.webServer>
</configuration>
